.appTemplate {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.appTemplate .appWrapper {
    
}